
<form name="sinInForm", method="post" action="/login">
  <div class="container input-group d-flex flex-column justify-content-center w-25 mt-5">
    <p> <input  class="form-control" name="email", type="text", placeholder="email" required/> </p>
    <p> <input class="form-control" name="password", type="password", placeholder="password" required />  </p>
  <button class="btn btn-secondary btn-lg " type="submit">LOGIN</button> 
  </div>
</form>

