<form name="sinUpForm", method="post" action="/signup"> </p>
  <div class=" container input-group d-flex flex-column justify-content-center w-25 mt-5">
      <p> <input class="form-control" name="name", type="text", placeholder="name"/> </p>
      <p> <input class="form-control" name="password", type="password", placeholder="password" /> </p>
      <p> <input class="form-control" name="email", type="text", placeholder="email"  />  </p>
      <p> <button class="btn btn-secondary btn-lg w-100" type="submit">signUp</button>
  </div>
</form>

